@charset "UTF-8";

:root {
    --cor1: #000d14;
    --cor2: #001025;
    --cor3: #FBA500;
    --cor4: #F27405;
    --cor5: #D93D04;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 300px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.644);
    transition: width .8s, height .8s;
}

section#login > div#img {
    background: #000d14 url(../imagens/background-pex.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 220px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
}

form > div.field {
    background-color: #001025;
    border: 3px solid #001025;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    margin: 7px 0px;
}

div.field > label {
    display: none;
}

div.field > i {
    color: white;
    font-size: 1.5em;
    width: 40px;
    padding: 5px;
}

div.field > input {
    background-color: #F27405;
    font-size: 1em;
    width: calc(100% - 44.7px);
    height: 100%;
    transform: translateY(-4.5px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
}

div.field > input:hover {
    background-color: white;
}

input::placeholder {
    color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: #c45b00;
    border: none;
    border-radius: 8px;
}

form > input[type=submit]:hover {
    background-color: #bd3200;
    transition: 1.2s;
    cursor: pointer;
}

form > a.buttom {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 35px;
    padding-top: 7px;
    margin-top: 7px;
    background-color: #001025;
    color: white;
    border: 1px solid #bd3200;
    border-radius: 8px;
    text-decoration: none;
}

form > a.buttom:hover {
    background-color: #bd3200;
    transition: 1.3s;
}

form > a.buttom > i {
    padding-left: 10px;
    display: inline-block;
    font-size: 1em;
}